body {
    margin: 0;
    font-family: 'roboto', sans-serif;
}

:root {
    --main-title-color:#2E2F42;
    --second-title-color:#434455;
    --third-title-color: #F4F4FD;
    --fourth-title-color:#4D5AE5;
    --fifth-title-color:#FFFFFF;
  }

.list {
    padding: 0;
    margin: 0;

    list-style: none;
}

.link {
    margin: 0;

    text-decoration: none;
}

h1, h2, h3, p, ul {
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

  .text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

  .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

  .container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    /*outline: red 2px solid;
    background: yellow;*/
}

/*------------------ HEADER------------------- */

.header {
    background: orange;
}

.header-wrap {
    display: flex;
    align-items: center;


    border-style: 0 0 1px 0;
    border-style: none none solid none;
    border-color: #E7E9FC;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;

    padding-top: 24px;
    padding-bottom: 24px;
}

.logo-web {
    margin-right: 76px;


    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21/18);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--fourth-title-color);
    text-decoration: none;
}

.logo-studio {
    color:var(--main-title-color);
}
    
.footer .logo-studio {
    color: var(--third-title-color);
}


.header-list {
    display: flex;
    gap: 40px;
}

.header-item {
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.header-link:hover,
.header-link:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fourth-title-color);
}

.header-address {
}

.header-address-list {
    display: flex;
    align-items: center;
    gap: 40px;

    
}

.header-address-item {
}


.header-mail,
.header-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--second-title-color);
    font-style: normal;
}

.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--fourth-title-color);
}


/*------------------ MAIN------------------- */
.hero {
    background-color: var(--main-title-color); 
    display: block;
    align-items: center;
}

.hero-wrap {
    padding-top: 188px;
}

.hero-title {
    margin-bottom: 48px;

    font-size: 56px;
    line-height: calc(60/56);
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--fifth-title-color);
}

button.hero-btn {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 188px;

    border-radius: 4px;
    border-color: var(--fourth-title-color);
    
}

.hero-btn {
    padding: 16px 32px;
    display: inline-block;
    align-items: center;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--fifth-title-color);
    background: var(--fourth-title-color);
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background: #404BBF;
}


.prinsiples {
    padding: 120px 0;
}

.prinsiples-list {
    display: flex;
    gap: 24px;
}

.prinsiples-item {
    width: calc((100%-3*24px)/4);
}

.prinsiples-subtitle {
    margin: 0 0 8px 0;

    color:var(--main-title-color);
}

.prinsiples-text {
       margin: 0;

       color:var(--second-title-color);
}


.doing {
    padding-bottom: 120px;
}

.doing-title {
    margin: 0 0 72px 0;

    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:var(--main-title-color);
}

.doing-list {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.doing-item {
    width: calc((100%-24px*2)/3);
}


.team {
    background: var(--third-title-color);
    padding: 120px 0;
}

.team-title {
    margin: 0 0 72px 0;

    font-size: 36px;
    line-height: calc(40/36);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-title-color);
}

.team-list {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.team-item {
    width: calc((100%-24px*3)/4);
}

.team-member {
    padding-bottom: 32px;
}

.team-subtitle {
    margin: 32px 0 8px 0;

    text-align: center;
    color:var(--main-title-color);
}

.team-text {
    margin: 0 auto;

    text-align: center;
    color:var(--second-title-color);
}




/*------------Main Portfolio----------------*/

.navigation {
    padding: 96px 0 72px 0;
}

.navigation-title {
}

.navigation-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.navigation-item {
}

.button {
    background: var(--third-title-color);
    
}

.navigation-btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    cursor: pointer;

    padding: 12px 24px;
}
.navigation-btn:hover,
.navigation-btn:focus {
    font-style: normal;
    color:var(--fifth-title-color);
    background:var(--fourth-title-color);
}


.portfolio-section {
    margin: 0 auto;
    padding: 0 0 48px 0;
}

.portfolio-list {

    display: flex;
    justify-content: space-evenly;
    gap: 24px;

}

.portfolio-item {
    display: flex;
    flex-direction: column;
    width: calc(100%-(2*24px)3);
}

.portfolio-subtxt-wrap {
    border-style: 0 1px 1px;
    border-style: none solid solid;
    border-color: #E7E9FC;

    padding: 32px 0 32px 16px;
}

.portfolio-subtitle {
    margin: 0 auto;
    color:var(--main-title-color);
}

.portfolio-text {
    margin: 8px 0 0 0;
    color:var(--second-title-color);

}

/*------------------ FOOTER------------------- */

.footer {
    background-color: var(--main-title-color);
}

.footer-wrap {
    padding: 100px 0;
    display: block;
}

.footer .logo-web {
    margin-bottom: 16px;
 }  

.footer-text {
    color: #E7E9FC;
    text-align: left;
    width: 264px;
}